@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 0 0% 20%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;
 
    --primary: 84 72% 43%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 49 96% 65%;
    --secondary-foreground: 0 0% 20%;
 
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;
 
    --accent: 0 0% 24%;
    --accent-foreground: 0 0% 100%;
 
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 84 72% 43%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 11%;
    --foreground: 0 0% 96%;
 
    --card: 0 0% 15%;
    --card-foreground: 0 0% 96%;
 
    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 96%;
 
    --primary: 84 62% 51%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 49 96% 74%;
    --secondary-foreground: 0 0% 11%;
 
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 65%;
 
    --accent: 0 0% 29%;
    --accent-foreground: 0 0% 100%;
 
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 100%;
 
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 84 62% 51%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}